doctype html
html(lang='en')

  meta(charset='utf-8')
  style
    :verbatim
      body {margin: 0; padding: 0; background: #111; color: #eee; font: 1rem/1.5 monospace;}
      a:link, a:visited {color: #7FDBFF;}
  title Phaser Scene Graph plugin

  main
    #phaser-example

  footer
    :markdown
      [Phaser Scene Graph plugin](https://github.com/samme/phaser-plugin-scene-graph)
      ([js](SceneGraph.js))
      +
      [Tanks](http://phaser.io/examples/v2/games/tanks)

  script(src='https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/custom/phaser-arcade-physics.js')
  script(src='SceneGraph.js')
  script(src='example.js')




